<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

        <div class="col-5 " *ngFor="let subject of lecturerSubjects">
          <div class="card card-block card-1">
            <div class="card-header">
              {{subject.subjectName}}
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{subject.shortName}} / Broj poena: {{subject.ectsPoints}} </h6>
              <hr>
            </div>
            <div class="card-footer" style="padding: 0;">
              <button class="btn btn-secondary btn-block btn-lg" (click)="manage(subject)">Upravljaj</button>

            </div>
          </div>
        </div>





      </div>
    </div>

    <div class="col-sm-12">
      <app-subject-manager *ngIf="subject" [subject]="subject" [students$]="students$" [allStudents$]="allStudents$"></app-subject-manager>
    </div>



  </div>