<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

        <div class="col-5 " *ngFor="let subject of lecturerSubjects">
          <div class="card card-block card-1" >
            <div class="card-body">
              <h5 class="card-title" >{{subject.subjectName}}</h5>
              <p class="card-text">{{subject.shortName}}</p>
              <p class="card-text">{{subject.ectsPoints}}</p>
              <button class="btn btn-success" (click)="manage(subject)"> edit</button>
            </div>
          </div>
        </div>





      </div>
    </div>

    <div class="col-sm-12">
      <app-subject-manager [subject]="subject" ></app-subject-manager>
    </div>



  </div>
