<form>


  <table class="table table-striped table-hover table-bordered table-sm  table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="firstName">Ime</th>
        <th scope="col" sortable="lastName">Prezime</th>
        <th scope="col" sortable="indexNumber">broj indeksa</th>

        <th scope="col" sortable="username">Korisnicko ime</th>
        <th scope="col" sortable="gender">Pol</th>
        <th scope="col" sortable="dateOfBirth">Datum rodjenja</th>
        <th scope="col" sortable="stateOfBirth">Drzava rodjenja</th>
        <th scope="col" sortable="placeOfBirth">Mesto rodjenja</th>
        <th scope="col" sortable="residence_address">Adresa</th>
        <th scope="col" sortable="township">Maticni grad</th>
        <th scope="col" sortable="city">Grad Stanovanja</th>
        <th scope="col" sortable="phoneNumber">Broj telefona</th>
        <th scope="col" sortable="mobilePhoneNumber">Broj Mobilnog</th>
        <th scope="col" sortable="citizenship">Drzavljanstvo</th>
        <th scope="col" sortable="ethnicity">Veroispovest</th>
        <th scope="col" sortable="highSchool">Srednja skola</th>
        <th scope="col" sortable="hsFinishYear">zavrsena</th>
        <th scope="col" sortable="currentYear">Godina studija</th>
        <th scope="col" sortable="studentStatus">status studenta</th>



        <th scope="col" sortable="ectsPoints">Izmeni</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{ student.id }}</th>
        <td>
          {{student.firstName}}
        </td>
        <td>
          {{student.lastName}}
        </td>
        <td>
          {{student.indexNumber}}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-sm" (click)="editStudents(student,true)">
            <nb-icon icon="edit-outline"></nb-icon>
          </button></td>
      </tr>
    </tbody>
  </table>



</form>
