<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel  *ngFor="let examPeriod of examPeriods$ | async" type='light'>
    <ng-template ngbPanelTitle>
      <span><b>{{examPeriod.examPeriodName}}</b></span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>Pocetak roka: {{examPeriod.startDate}}</p>
      <hr>
      <button class="btn btn-primary btn-sm" (click)="deactivateExamPeriod(examPeriod.id)">Deaktiviraj</button>
    </ng-template>
  </ngb-panel>


</ngb-accordion>
