<form>
  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="subjectName">Naziv Predmeta</th>
        <th scope="col" sortable="shortName">Sifra predmeta</th>
        <th scope="col" sortable="ectsPoints">Ects poeni</th>
        <th scope="col" sortable="ectsPoints">Izmeni</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjects">
        <th scope="row">{{ subject.id }}</th>
        <td>{{subject.subjectName}}</td>
        <td>{{subject.ectsPoints}}</td>
        <td>{{subject.shortName}}</td>
        <td><button class="btn btn-sm" (click)="editSubject(subject,true)">
            <nb-icon icon="edit-outline"></nb-icon>
          </button></td>
      </tr>
    </tbody>
  </table>


</form>
