<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

<nb-layout >
  <nb-layout-header fixed  >
    <h2 routerLink=''  style="margin-right: 85%;">SSluzba</h2>

    <nb-user [name]="username" *ngIf="isLoggedIn"
    [title]="role"
    [nbContextMenu]="profileItems"

    nbContextMenuTag="my-context-menu"  nbContextMenuPlacement="bottom">
  </nb-user>

  <nb-user *ngIf="!isLoggedIn"
  size="large"
  [routerLink]="['/login']" routerLinkActive="router-link-active"

  > </nb-user>



  </nb-layout-header>

  <nb-layout-header subheader *ngIf="isLoggedIn">
    <nb-actions>
      <nb-action icon="home-outline" routerLink=""></nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="edit-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar class="sidebar-main-class" *ngIf="isLoggedIn" >
    <app-user-side-menu
    [testString] = "testString"
    [isLoggedIn] = "isLoggedIn"
    [showAdminBoard] = "showAdminBoard"
    ></app-user-side-menu>




  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
</nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>



