*{
  font-family: 'Nunito', sans-serif;
}
.nb-theme-default nb-sidebar .scrollable {
  padding: 0;

}
.user-container{
  color: white;
}

.user-picture{
  color: white;
}

.initials{
  color: white!important;
}

.user-name{
  color: white!important;
}

.user-title{
  color: white!important;
}
