<p>Istorija polaganja</p>
<table class="table table-striped table-bordered table-hover table-lg">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Oznaka</th>
      <th scope="col">Naziv predmeta</th>
      <th scope="col">Datum</th>
      <th scople="col">Nastavnik</th>
      <th scople="col">Ocena</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of examRecords; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{record.subjectShortName}}</td>
      <td>{{record.subjectName}}</td>
      <td>{{record.examDate}}</td>
      <td>{{record.lecturerName}}</td>
      <td>{{record.ocena}}</td>
    </tr>
  </tbody>

</table>



