<p>Finansijska kartica</p>
<hr>
<p>Stanje na racunu: <b>{{financialCard?.balance}}.00 RSD</b></p>
<p>U tabeli su prikazane sve vase elektronske uplate izvrsene na:</p>
<p>Ziro racun: <b>{{financialCard?.cardNumber}}</b></p>
<hr>
<table class="table table-hover table-bordered  table-lg">
  <thead>
    <tr>
      <th scope="col">R.br.</th>
      <th scope="col">Datum</th>
      <th scope="col">Opis</th>
      <th scope="col">Promena</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionDTO; index as i"  [ngClass]="transaction.amount > 0? 'green':'red'">
      <th scope="row">{{ i + 1}}</th>
      <td>{{transaction.transactionDate}}</td>
      <td>{{transaction.paymentPurpose}}</td>
      <td>{{transaction.amount}}.00 RSD</td>
    </tr>
  </tbody>
</table>
