<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

  <li [ngbNavItem]="1">
    <a ngbNavLink>Predmeti</a>
    <ng-template ngbNavContent>
      <app-subjects-admin-board (fromSubjectAdminEmitter)="editSubject($event)"></app-subjects-admin-board>
      <app-edit-subject *ngIf="isEditSubject" [subject]="subject" ></app-edit-subject>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink class="nav-link">Studenti</a>
    <ng-template ngbNavContent>
      <app-edit-student-board (fromStudentAdminEmitter)="editStudents($event)"></app-edit-student-board>
      <app-edit-student *ngIf="isEditStudent" [student]="student" [financialCard]="financialCard"></app-edit-student>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink class="nav-link">Profesori</a>
    <ng-template ngbNavContent>
      <app-edit-lecturer-board (fromLecturerAdminEmitter)="editLecturer($event)"></app-edit-lecturer-board>
      <app-edit-lecturer *ngIf="isEditLecturer" [lecturer]="lecturer" ></app-edit-lecturer>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink class="nav-link">
      <nb-icon icon="person-add-outline"></nb-icon>
    </a>
    <ng-template ngbNavContent>
      <app-user-creation></app-user-creation>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink class="nav-link">
      <nb-icon icon="copy-outline"></nb-icon>
    </a>
    <ng-template ngbNavContent>
      <app-subject-creation></app-subject-creation>
    </ng-template>

  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink class="nav-link">
      upravljanje rokovima
    </a>
    <ng-template ngbNavContent>
      <app-exam-managment></app-exam-managment>
    </ng-template>

  </li>

</ul>



<div [ngbNavOutlet]="nav" class="mt-2"></div>




<app-create-user-modal #content></app-create-user-modal>
