<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="assets/images/logoss.png" alt="logo" class="logo">

            </div>
            <p class="login-card-description">Resetuj Lozinku</p>

            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onResetPassword()" #f="ngForm" novalidate>

              <div class="form-group">

                <input type="email" placeholder="Email" class="form-control" name="email"
                  [(ngModel)]="form.email" required #email="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
                  email is required!
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary haha btn-block btn-md">
                  Resetuj
                </button>
              </div>


            </form>


            <a href="/login" class="forgot-password-link">Povratak na Login stranicu</a>


          </div>
        </div>
      </div>
    </div>

  </div>
</main>
