
<div *ngIf="currentFile" class="progress">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)" />
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<div class="alert alert-light" role="alert">{{ message }}</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Format Dokumenta</th>
    <th scope="col">Ime dokumenta</th>
    <th scope="col">Download</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let document of documents;">
    <td><nb-icon icon="file-text-outline"></nb-icon>
      {{document.type.toUpperCase()}}
    </td>
    <td>
      {{ document.name }}
    </td>
    <td><a  href="javascript:void(0)"
      style="cursor:pointer"
      (click)="downloadPdf(document.url,document.name)">download</a></td>
  </tr>
  </tbody>
</table>
