

<div class="container main-container">
  <div class="row">
    <div class="col-sm left-col">
      <form>
        <div class="mb-3">
          <label for="ukupanTrosak" class="form-label">Za prijavu</label>
          <input type="text" [placeholder]="totalPrice" class="form-control" id="ukupanTrosak" aria-describedby="ukupnoZaUplatu">

        </div>
        <div class="mb-3">
          <label for="stanjeNaKartici" class="form-label">Trenutno stanje na racunu</label>
          <input type="text" placeholder="0.00" class="form-control" id="stanjeNaKartici">
        </div>
        <div class="mb-3">
          <label for="stanjePoslePrijave" class="form-label">Stanje posle prijave</label>
          <input type="text" placeholder="0.00" class="form-control" id="stanjePoslePrijave">
        </div>
        <button type="submit" class="btn btn-primary btn-prijavi">Prijavi ispite</button>
      </form>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
