<div class="card-columns">

  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Matematika 1
    </div>
    <div class="card-body">
      <h5 class="card-title">8 ECTS</h5>
      <p class="card-text">Jednosemestralni predmet, bla bla <br>
        Profesori:
        Nedovic Ljubo
        Radojka Stricevic
      </p>
      <a href="#" class="btn btn-primary">Detaljnije...</a>
    </div>
  </div>





</div>
