



<div class="grid-container">

  <div class="grid-item">
    <nb-card size="tiny">
      <nb-card-header  class="header-class">XML Tehnologije</nb-card-header>

      <nb-card-body>
        card
      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="info" size="small" class="expand-subject-button"><nb-icon icon="arrow-down-outline"></nb-icon></button>      </nb-card-footer>
    </nb-card>
  </div>

  <div class="grid-item">
    <nb-card size="tiny">
      <nb-card-header class="header-class">Matematika 2</nb-card-header>

      <nb-card-body>
        card
      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="info" size="small" class="expand-subject-button"><nb-icon icon="arrow-down-outline"></nb-icon></button>      </nb-card-footer>
    </nb-card>
  </div>


  <div class="grid-item">
    <nb-card size="tiny">
      <nb-card-header class="header-class">Osnove programiranja</nb-card-header>

      <nb-card-body>
        card
      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="info" size="small" class="expand-subject-button"><nb-icon icon="arrow-down-outline"></nb-icon></button>      </nb-card-footer>
    </nb-card>
  </div>


  <div class="grid-item">
    <nb-card size="tiny">
      <nb-card-header class="header-class">eObrazovanje</nb-card-header>

      <nb-card-body>
        card
      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="info" size="small" class="expand-subject-button"><nb-icon icon="arrow-down-outline"></nb-icon></button>      </nb-card-footer>
    </nb-card>
  </div>


</div>
