
  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="subjectShortName">Oznaka</th>
        <th scope="col" sortable="subjectName">Naziv predmeta</th>
        <th scope="col" sortable="ectsPoints">Ects poeni</th>
        <th scope="col" sortable="dateExam">Datum ispita</th>
        <th scope="col" sortable="subjectLecturer">Nastavnik</th>
        <th scope="col" sortable="subjectOcena">Ocena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of studentHasSubjects">
        <th scope="row"></th>
        <td>{{subject.shortName}}</td>
        <td>{{subject.subjectName}}</td>
        <td>{{subject.ectsPoints}}</td>
        <td>{{subject.examDate}}</td>
        <td>{{subject.lecturerName}}</td>
        <td>{{subject.ocena}}</td>



      </tr>
    </tbody>
  </table>



