<ul ngbNav #nav="ngbNav"  [(activeId)]="active" class="nav-tabs">
  <li  *ngFor="let examPeriods of examPeriod" [ngbNavItem]="examPeriods.id" #thenBlock>
    <a ngbNavLink (click)="onExamPeriodChange(examPeriods?.examPeriodName)">{{examPeriods?.examPeriodName}}</a>

    <ng-template ngbNavContent >

      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">Naziv predmeta</th>
          <th scope="col">sifra predmeta</th>
          <th scope="col">ECTS Poeni</th>
          <th scople="col">Mesto odrzavanja ispita</th>
          <th scople="col">Datum odrzavanja ispita</th>
          <th scope="col">Prijavi ispit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjects; index as i">
          <th> {{ subject?.subjectName }}</th>
          <td>{{ subject?.shortName }}</td>
          <td>{{ subject?.ectsPoints | number }}</td>
          <td>{{ subject?.examDate }}</td>
          <td>{{ subject?.placeOfExam }}</td>
          <td><div class="form-check">
              <input  class="form-check-input" type="checkbox" [value]="subject"  (change)="onChange(subject, $event.target.checked)">
            <label class="form-check-label" for="flexCheckDefault">
              {{examPrice}}
            </label>
          </div></td>

        </tr>
        </tbody>
      </table>

    </ng-template>


  </li>


</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<app-financial-status [totalPrice]="totalPrice" [ispitiZaPrijavu]="ispitiZaPrijavu" [exPerName]="exPerName" ></app-financial-status>
