<div class="row show-grid">
  <div class="col-md">
    <nb-card [size]="'small'">
      <nb-card-header ><nb-icon icon="book-open-outline"></nb-icon> clanak/obavestenje 14/02/2020</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card [size]="'small'">
      <nb-card-header><nb-icon icon="book-open-outline"></nb-icon> clanak/obavestenje</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>


</div>

